* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --mainbac: rgba(207, 207, 207, 0.459);
  --min-border-R: 25px;
}

body {
  background-color: var(--mainbac);
  text-align: center;
  padding-top: 70px;
}
/* Header */
header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 15px;
  z-index: 10;
  background-color: #fff;
}

header nav {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

section {
  width: 100%;
}

.section-body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  gap: 15px;
}

.Hero-section {
  background-image: url("photos/logo.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 70px);
}
/* Section Best Selling Products */
.section-Best-Selling {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-Best-Selling h1 {
  margin: 20px;
  font-size: 40px;
}

.continer-product {
  width: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--min-border-R);
  background-color: #fff;
}

.continer-product img {
  width: 90%;
  height: 270px;
  border-radius: var(--min-border-R);
}

.card-bar-colors {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.color-product {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.color-product:nth-child(1) {
  background-color: black;
}

.color-product:nth-child(2) {
  background-color: silver;
}

.color-product:nth-child(3) {
  background-color: rgb(187, 97, 97);
}

.color-product:nth-child(4) {
  background-color: rgb(75, 149, 192);
}

.card-product-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  padding: 20px;
  width: 100%;
  height: auto;
}

.card-product-body h3,
.card-product-body p {
  letter-spacing: 0.5px;
}

.btn-add-card {
  padding: 15px;
  width: 80%;
  border: none;
  border-radius: var(--min-border-R);
}
/* Section About */
.section-About {
  margin-top: 15px;
}

.About-body {
  margin-top: 30px;
}

.About-Continer {
  display: flex;
  flex-wrap: wrap;
}

.About-Continer img {
  width: 50%;
  height: auto;
}

.About-Continer:nth-child(2) {
  direction: rtl;
}

.About-continer-text {
  width: 50%;
  align-content: center;
  text-align: center;
}

.About-continer-text p {
  margin: 5px;
  letter-spacing: 5px;
}
/* Section Reference */
.section-Refrance h1 {
  margin: 30px;
  font-size: 38px;
}

.Refrance-body {
  padding: 15px;
  position: relative;
}

.continer-Scroll {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.continer-Scroll::-webkit-scrollbar {
  display: none;
}

.card-Refrance {
  width: 300px;
  height: 450px;
  margin: 15px;
  flex-shrink: 0;
  border-radius: var(--min-border-R);
  background-color: #fff;
}

.card-Refrance img {
  width: 100%;
  height: 50%;
  border-radius: 25px 25px 0px 0px;
}

/* Section Contact */
.section-contact {
  padding: 15px;
  width: 100%;
}

.section-contact h1 {
  margin: 15px;
}

.contact-body {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: var(--min-border-R);
  background-color: #fff;
}

.div-Social {
  display: flex;
  border-radius: var(--min-border-R);
  width: 50%;
  background-color: var(--mainbac);
}

.Social-icon {
  width: 100%;
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-Social {
  width: 100%;
  padding: 5px;
  height: auto;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--min-border-R);
}

.content-Social:nth-child(1) i {
  color: rgb(0, 255, 0);
}

.content-Social:nth-child(2) i {
  color: rgb(0, 0, 255);
}

.content-Social:nth-child(3) i {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.content-Social:nth-child(4) i {
  color: black;
}

.continer-contact {
  width: 40%;
  height: 100%;
  padding: 5px;
  background-color: var(--mainbac);
  border-radius: var(--min-border-R);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.groub-input-name {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.groub-input-name input {
  width: 45%;
}

.groub-input {
  width: 100%;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

input {
  padding: 15px;
  width: 70%;
  margin: 5px;
  border: solid 0.5px black;
}

#clint-Massage {
  width: 90%;
  height: auto;
  padding: 10px;
}

.btn-send {
  width: 70%;
  padding: 15px;
  margin: 5px;
  border-radius: var(--min-border-R);
  border: none;
}

.btn-send:hover {
  cursor: pointer;
}

@media (max-width: 746px) {
  .contact-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 20px;
  }
  .div-Social {
    width: 100%;
  }
  .continer-contact {
    width: 100%;
  }
  .About-Continer {
    justify-content: center;
    padding: 15px;
  }
  .About-Continer img {
    width: 90%;
    height: auto;
  }
  .About-continer-text {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .Hero-section {
    background-image: url("photos/logo-phone.png");
  }
}